.not-found__title {
  margin: 0 0 8px 0;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.36;
  color: #191D23;
}

.not-found__link {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.36;
  color: #64748B;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.not-found__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .not-found__title {
    font-size: 24px;
  }

  .not-found__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .not-found__title {
    font-size: 20px;
  }

  .not-found__link {
    font-size: 12px;
  }
}